name: MicroService CI

on:
  push:
    push:
      branches: [main]
    pull_request:
      branches: [main]
jobs:

  detect-changes:
    uses: ./.github/workflows/detect-changes.yml

  build-services:
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.any_changed == 'true' }}
    strategy:
      matrix:
        service: ${{ fromJson(needs.detect-changes.outputs.services_json) }}
      fail-fast: false
    name: Build ${{ matrix.service }}
    uses: ./.github/workflows/build-service.yml
    with:
      service-name: ${{ matrix.service }}
      package-lock-path: ${{ matrix.service }}/package-lock.json
      output-dir: 'dist'
  
  sonarqube:
    name: SonarQube Analysis
    needs: [detect-changes, build-services]  # Optional: wait for builds if Sonar needs artifacts
    if: ${{ needs.detect-changes.outputs.any_changed == 'true' }} # Only run if any service changed
    uses: ./.github/workflows/sonarqube.yml
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    # with: {}  # Add if sonarqube.yml needs inputs (e.g., project-key)

  trivy:
    name: Trivy Vulnerability Scan
    needs: [build-services, sonarqube]  # Wait for builds and Sonar (skip scan if Sonar fails?)
    uses: ./.github/workflows/trivy.yml
    with:
      services: 'board-service,card-service,column-service,notification-service,user-service'  # Explicit, or omit to use default

  # Optional: Final summary job (e.g., report overall status)
  summary:
    name: CI Summary
    runs-on: ubuntu-latest
    needs: [detect-changes ,build-services, sonarqube, trivy]
    if: always()
    steps:
      - run: |
          echo "Changed Services:"
          echo "Board Service: ${{ needs.detect-changes.outputs.board-service }}"
          echo "Card Service: ${{ needs.detect-changes.outputs.card-service }}"
          echo "Column Service: ${{ needs.detect-changes.outputs.column-service }}"
          echo "Notification Service: ${{ needs.detect-changes.outputs.notification-service }}"
          echo "User Service: ${{ needs.detect-changes.outputs.user-service }}"
          echo "Any Changed: ${{ needs.detect-changes.outputs.any_changed }}"
          echo "Build: ${{ needs.build-services.result }}"
          echo "Sonar: ${{ needs.sonarqube.result }}"
          echo "Trivy: ${{ needs.trivy.result }}"